<div ng-include="'components/header/header.html'"></div>

<div style="padding-top: 100px"></div>

<div id="page-wrapper">
    <div class="content-wrapper gadget-wrapper">
        <div class="news-line" id="gadget-info">
            <section class="my-gadget">
                <img ng-src="{{product.imageUrl}}"/>
                <article class="right-article">
                    <div class="product-header">
                        <h2><a href="#">{{product.company}} {{product.name}}</a></h2>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment">
                            {{product.feedback.text}}
                        </div>
                    </div>
                    <div class="likes-info">
                        <ul>
                            <li><a href="#" class="liked"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"><img src="img/fotouser/DSC_4439.JPG" alt="user"></a></li>
                            <li><a href="#"><img src="img/fotouser/DSC_4451.JPG" alt="user"></a></li>
                            <li><a href="#"><img src="img/fotouser/128.jpg" alt="user"></a></li>
                            <li><a href="#"><img src="img/fotouser/tani1.jpg" alt="user"></a></li>
                        </ul>
                    </div>
                    <div class="my-gadget-media">
                        <ul class="my-gadget-photo">
                            <li><a href="#"><img src="img/gadget/11.jpg" alt="gadget photo"/></a></li>
                            <li><a href="#"><img src="img/gadget/15.jpg" alt="gadget photo"/></a></li>
                        </ul>
                        <ul class="my-gadget-video">
                            <li><a target="_blank" href="https://www.youtube.com/watch?v=OdQmfnAiDzY&index=1&list=PLwSSV-_L9sztYcaMbY2XlehMFeR8Khs0j"><img src="http://img.youtube.com/vi/OdQmfnAiDzY/3.jpg" alt="youtube video"/></a></li>
                        </ul>
                    </div>
                </article>
            </section>
            <div class="comment-for-like">
                <div class="comment-device-like" ng-repeat="comment in product.comments">
                    <a href="#"><img ng-src="{{comment.author.imageUrl}}}" alt="{{comment.author.name}}}"></a>
                    <div><a href="#">{{comment.author.name}}</a></div>
                    <div class="my-device-like-comment">{{comment.text}}</div>
                </div>

                <div class="comment-device-my-like">
                    <input type="text" placeholder="Type you comment..." ng-model="newComment" ng-keypress="($event.which === 13)?submit(newComment):0">
                </div>
            </div>
            <div class="galery-my-gadgets">
                <a href="#">Другие мои гаджеты</a>
                <div class="galery">
                    <div class="my-dadg-viev-descr">
                        <img src="img/gadget/11.jpg"/>
                        <div>Iphone 5</div>
                    </div>
                    <div class="my-dadg-viev-descr">
                        <img src="img/gadget/21.jpg"/>
                        <div>Iphone 4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
