<div ng-include="'components/header/header.html'"></div>

<div id="page-wrapper">
    <input type="text" placeholder="Enter gadget name, brand or specs" ng-model="search.query" ng-change="search.change()">
    <section class="product-char" ng-repeat="product in products | filter:search.query | limitTo: showLimit">
        <div class="product-content" id="product-{{$index + 1}}">
            <img ng-src="{{product.imageUrl}}"/>
            <div class="product-prop">
                <h2>{{product.company}} {{product.name}}</h2>
                <div>
                    <span ng-repeat="spec in product.specs | filter: {isMain:true} | orderBy:'orderIndex'">
                        <span>{{spec.name}}</span>: <span>{{spec.value}}</span>
                    </span>
                </div>
                <ul>
                    <li><a href="#"><img src="/assets/images/user_default.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/user_default.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/user_default.jpg" /></a></li>
                    <li><a href="#"><img src="/assets/images/user_default.jpg" /></a></li>
                </ul>
            </div>
        </div>
        <a class="oplus" href ng-click="clickToOpen(product)"><i class="fa fa-plus fa-2x"></i></a>

    </section>

    <footer ng-show="products.length > showLimit">
        <h3>More</h3>
        <a href ng-click="showMore()">
            <img src="/assets/images/show_more.png"/>
        </a>
    </footer>
</div>
