<!-- <div ng-include="'components/header/header.html'"></div> -->

<div id="wrapper-header">
    <div class="header">
        <header>
            <a href="#"><img src="assets/images/gadgetin_logo.png"></a>
            <div id="profile-settings">
                <a href ng-click="logout()">Logout</a>
            </div>
            <div class="heading-block">
                <div class="avatar-wrapper">
                    <div id="avatar">
                        <a href="/profile"><img ng-src="{{profile.imageUrl}}" alt="{{profile.name}}"></a>
                    </div>
                    <ul id="name">
                        <li>{{profile.name}}</li>
                    </ul>
                    <ul class="menu" ng-if="isOwnPage()">
                        <li><a href="/feed">Feed</a></li>
                        <li><a href="/gadgets">Gadgets</a></li>
                        <li><a href="/people">People</a></li>
                    </ul>
                    <button ng-click="changeView('gadgets')" ng-if="isOwnPage()">New Gadget</button>
                    <div class="counters">
                        <ul>
                            <li>{{profile.wishes.length}}</li>
                            <li>wishes</li>
                        </ul>
                        <ul>
                            <li>{{profile.products.length}}</li>
                            <li>gadgets</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div style="padding-top: 70px"></div>

<div id="page-wrapper">
    <div class="content-wrapper">
        <div class="news-line">

            <section ng-repeat="product in profile.products">
                <a ng-href="/gadgets/{{product._id}}"><img ng-src="{{product.imageUrl}}"/></a>
                <article class="right-article">
                    <div class="product-header">
                        <h2><a ng-href="/gadgets/{{product._id}}">{{product.company}} {{product.name}}</a></h2>
                        <div> 2 days ago</div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment">
                            {{product.feedback.text}}
                        </div>
                    </div>
                    <!-- <div class="likes-info">
                        <div>People have it</div>
                        <ul>
                            <li><a href="#">...</a></li>
                            <li><a href="#"><img src="img/fotouser/DSC_4439.JPG" alt="user-1"></a><li>
                            <li><a href="#"><img src="img/fotouser/DSC_4451.JPG" alt="user-1"></a></li>
                        </ul>
                    </div> -->
                </article>
            </section>
        </div>
    </div>
</div>
