<!-- <div ng-include="'components/header/header.html'"></div> -->

<div id="wrapper-header">
    <div class="header">
        <header>
            <a href="#"><img src="assets/images/gadgetin_logo.png"></a>
            <div id="profile-settings">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href ng-click="logout()">Logout</a>
            </div>
            <div class="heading-block">
                <div class="avatar-wrapper">
                    <div id="avatar">
                        <a href="/settings"><img ng-src="{{profile.imageUrl}}" alt="{{profile.name}}" ng-if="isOwnPage()"></a>
                        <a href=""><img ng-src="{{profile.imageUrl}}" alt="{{profile.name}}" ng-if="!isOwnPage()"></a>
                    </div>
                    <ul id="name">
                        <li>{{profile.name}}</li>
                    </ul>
                    <ul class="menu" ng-if="isOwnPage()">
                        <li><a ui-sref="feed" class="btn btn-lg" ui-sref-active="active">Feed</a></li>
                        <li><a ui-sref="gadgets" class="btn btn-lg" ui-sref-active="active">Gadgets</a></li>
                        <li><a ui-sref="people" class="btn btn-lg" ui-sref-active="active">People</a></li>
                    </ul>
                    <button ng-click="changeView('gadgets')" ng-if="isOwnPage()">New Gadget</button>
                    <div class="counters">
                        <ul>
                            <li>{{profile.wishes.length}}</li>
                            <li>wishes</li>
                        </ul>
                        <ul>
                            <li>{{profile.products.length}}</li>
                            <li>gadgets</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div style="padding-top: 70px"></div>

<div id="page-wrapper">
    <div class="content-wrapper">
        <div class="news-line">


            <section ng-if="!profile.products.length" ng-cloak>
                <a ng-href="/gadgets"><img ng-src="assets/images/gadget_default1.jpg"/></a>
                <article class="right-article">
                    <div class="product-header">
                        <a ng-href="/gadgets" class="btn btn-lg btn-primary">ADD YOUR FIRST GADGET</a>
                    </div>
                </article>
            </section>

            <section ng-repeat="product in profile.products">
                <a ng-href="/gadgets/{{product._id}}"><img ng-src="{{product.imageUrl}}"/></a>
                <article class="right-article">
                    <div class="product-header">
                        <h2><a ng-href="/gadgets/{{product._id}}">{{product.company}} {{product.name}}</a></h2>
                        <div><span am-time-ago="product.created"></span></div>
                        <br>
                        <div ng-hide="product.edit || !isOwnPage()"><a href ng-click="product.edit = true">Edit</a></div>
                        <div ng-show="product.edit"><a href ng-click="editDone(product)">Done</a></div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comment" ng-if="!product.edit">
                            {{product.feedback.text}}
                        </div>
                        <div class="comment" ng-if="product.edit">
                            <textarea name="" id="" cols="50" rows="5" ng-model="product.feedback.text"></textarea>
                        </div>
                    </div>
                    <!-- <div class="likes-info">
                        <div>People have it</div>
                        <ul>
                            <li><a href="#">...</a></li>
                            <li><a href="#"><img src="img/fotouser/DSC_4439.JPG" alt="user-1"></a><li>
                            <li><a href="#"><img src="img/fotouser/DSC_4451.JPG" alt="user-1"></a></li>
                        </ul>
                    </div> -->
                    <div class="comment-for-like">
                        <div class="comment-device-like" ng-repeat="comment in product.comments">
                            <a ng-href="{{comment.author.profileUrl}}"><img ng-src="{{comment.author.imageUrl}}" alt="{{comment.author.name}}"></a>
                            <div><a ng-href="{{comment.author.profileUrl}}">{{comment.author.name}}</a></div>
                            <div class="my-device-like-comment">{{comment.text}}</div>
                        </div>

                        <div class="comment-device-my-like">
                            <input type="text" placeholder="Type your comment..." ng-model="product.comment" ng-keypress="($event.which === 13)?submit(product, product.comment):0">
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>
