<div class="ngdialog ngdialog-theme-plain">
    <div class="wrapper">
        <img ng-src="{{currentProduct.imageUrl}}"-/>
        <div class="product-description">
            <h2>{{currentProduct.brand}} {{currentProduct.name}}</h2>
            <form>
                <textarea type="text" ng-model="currentProduct.feedback.text">

                </textarea>
                <div class="button-stack">
                    <button ng-click="closeThisDialog(currentProduct)">Add to gadgets</button>
                    <!-- <button>Add to wishes</button> -->
                    <button ng-click="closeThisDialog()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
